<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>eh.servelt.registration.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>eh.user.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeServlet</servlet-name>
        <servlet-class>eh.servelt.home.LoadHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAddEventServlet</servlet-name>
        <servlet-class>eh.servelt.event.LoadAddEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventServlet</servlet-name>
        <servlet-class>eh.servelt.event.AddEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>eh.user.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserCreationServlet</servlet-name>
        <servlet-class>eh.servelt.registration.LoadUserCreationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeServlet</servlet-name>
        <url-pattern>/LoadHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAddEventServlet</servlet-name>
        <url-pattern>/LoadAddEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEventServlet</servlet-name>
        <url-pattern>/AddEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserCreationServlet</servlet-name>
        <url-pattern>/LoadUserCreationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
